<div class="tabs">
  <ul class="tabs-nav">
    <li class="tabs-nav__item">
      <a class="tabs-nav__link active" href="#tab0">Tab1</a>
    </li>
        <li class="tabs-nav__item">
      <a class="tabs-nav__link" href="#tab1">Tab2</a>
    </li>
        <li class="tabs-nav__item">
      <a class="tabs-nav__link" href="#tab2">Tab3</a>
    </li>
  </ul>
  <div class="tabs__wrapper">
    <div class="tabs-content active"></div>
    <div class="tabs-content"></div>
    <div class="tabs-content"></div>
  </div>
</div>