@use "../../../../styles/mixins" as *;

.request-bike {
padding-block: 100px 120px;
    // @include size("padding-top", 100, 35);
    // @include size("padding-bottom", 120, 35);
background-image: url("/src/assets/images/services/black-bicycle.webp");
background-repeat: no-repeat;
background-size: auto 600px;
background-position: right center;
@include rmax($xl) {
  background-size: 50%;
}

@include rmax($md) {
  background-size: 90%;
  background-position: center;
}

  .form-wrapper {
    max-width: 450px;
    padding: 50px 40px;
    background-color: rgba(#fff, 0.85);
    @include rmax($md) {
      margin-inline: auto;
    }

    @include rmax($xs) {
      padding-inline: 15px;
    }
  }

  &__form {
    color: var(--c-dark);

    .request-form__input {
      border-color: #9CAAC0;
    }
  }

}
